{% extends 'cookbook/base.html' %}

{% block content %}
<!-- BEGIN recipe_list -->
  <h1>Recipe List</h1>
  {% if recipe_list %}
    <table class="table table-hover">
    <!-- TODO -- Somehow implement this: `|dictsortreversed:"{{view.total}}"` on the recipe_list -->
    {% for recipe in recipe_list %}
      <tr>
        <td><a href="{% url 'cookbook:detail' recipe.id %}">{{ recipe.title }}</a></td>
        <td>{{ view.total }}</td>
        <td><a class="btn btn-primary" href="{% url 'cookbook:recipe_edit' recipe.id %}">Edit</a></td>
        <td><a class="btn btn-danger"href="{% url 'cookbook:recipe_delete' recipe.id %}">Delete</a></td>
      </tr>
    {% endfor %}
    </table>

    <a href="{% url 'cookbook:recipe_new' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
  {% else %}
    <p>No recipes are available.</p>
  {% endif %}
<!-- END recipe_list -->
{% endblock content %}

